# Compiled python modules.
__pycache__

# Build metadata
/build/
/dist/
*.egg-info
.eggs

# Test detritus
.pytest_cache
/tmp/
.tox

# Generated documentation files
/doc/build/
/doc/source/elements/
/doc/source/sources/
